{{define "head"}}
    <title id="title">{{.Result.Album.Title}}</title>
{{end}}

{{define "head-script"}}
    <link rel='dns-prefetch' href='//cdn.staticfile.org'/>
    <link href="//cdn.staticfile.org/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.staticfile.org/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
    <script src="https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>


    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://www.ibilibili.com/css/ibilibili.css"/>
    <script type="text/javascript" src="https://api.xiangshike.com/ckplayer/ckplayer.js" charset="utf-8"></script>

{{end}}

{{define "content"}}

    <div class="container justify-content-center" style="height: 768px;width: 100%">
        <div class="navbar"></div>
        <div class="row align-items-start justify-content-end">
            <div id="vd" style="width: 60%;height: auto;"></div>
            <div class="row align-items-start" style="width: 25%;margin-left: 2rem">
                <ul class="nav" id="album">

                </ul>
            </div>
        </div>
        <div id="example"></div>

        <iframe width="8" height="8"
                src="https://www.bilibili.com/blackboard/html5mobileplayer.html?aid=41990468&cid=73717095&page=1&high_quality=1"
                style="display: none;"></iframe>
    </div>




    <script>

        function callbackfunction(j) {
            console.log(j);
            var u = j.durl[0].url;
            var poster = j.img;
            var duration = j.timelength;
            var videoObject = {
                container: '#vd',//“#”代表容器的ID，“.”或“”代表容器的class
                variable: 'player',//该属性必需设置，值等于下面的new chplayer()的对象
                video: j.durl[0].url,//视频地址
                poster: poster,
                duration: duration / 1000
            };

            var player = new ckplayer(videoObject);
        }

        function parseVideo(page, aid) {
            var link = "//api.bilibili.com/playurl?callback=callbackfunction&aid=" + aid + "&page=" + page + "&platform=html5&quality=1&vtype=mp4&type=jsonp";
            console.log(link);
            $.getScript(link);

        }

        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }


        function changeSource(page, aid) {
            // alert(page);
            parseVideo(page, aid);
            document.getElementById("title").innerText = part;
        }

        function decodeJson(jsonStr) {
            console.log(jsonStr);
            if (jsonStr == "" || jsonStr === undefined) {
                return;
            }
            var jsonVal = JSON.parse(jsonStr);
            console.log(jsonVal);

            var pages = jsonVal.reduxAsyncConnect.videoInfo.pages;
            var globalAid = {{.Result.Aid}};

            var ps = pages.map(function (v) {
                var li = "<li id='" + v.page + "'" + " class='nav-item' onclick=changeSource(" + v.page + "," + globalAid + ")><h5>" + v.part + "</h5></li>";



                return li;
            });
            var lis = ps.join("");
            document.getElementById("album").innerHTML = lis;

        }


        var p2 = 1;
        if (getQueryString("p")) {
            p2 = getQueryString("p");
        }

        var globalAid = {{.Result.Aid}};
        var page = {{.Result.Page}};
        var orign = {{.Result.Album.Origin}};
        decodeJson(orign);
        parseVideo(page, globalAid);
    </script>

{{end}}