<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <title id="title">{{.Result.Album.Title}}</title>
    <meta http-equiv="keywords" content="B站,bilibili视频下载,动漫视频下载,游戏视频"/>
    <meta name="description" content="爱哔哩哔哩是提供给B站用户下载视频或查看up主头像、视频截图下载用的，关注点主要是动漫、游戏"/>
    <link rel='dns-prefetch' href='//cdn.staticfile.org'/>
    <script src="//cdn.staticfile.org/jquery/1.9.1/jquery.min.js"></script>
    <link href="//cdn.staticfile.org/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.staticfile.org/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="//cdn.staticfile.org/layer/2.3/skin/layer.css" rel="stylesheet">
    <script src="//cdn.staticfile.org/layer/2.3/layer.js"></script>
    <script src="//cdn.staticfile.org/downloadjs/1.4.8/download.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
    <script src="https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>


    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://www.ibilibili.com/css/ibilibili.css"/>
    <style>
        div {
            display: flex;
            flex-direction: column;
        }

        .up {
            display: flex;

        }

        li {
            list-style: none;
        }

        .up div {
            align-items: center;
            flex-direction: row;
        }
    </style>
<body>
<div style="width:60%;margin: 0 auto;margin-top: 5%;">
    <div id="links">
        <h4>{{.Result.Album.Title}}</h4>
        <p></p>


        <div style="clear: both;"></div>
        <div id="vd" style="margin-top: 10px ;">

        </div>
        <div>
        </div>
        <div class="input-group" style="width:100%;display: none;margin-top: 10px;" id="videourlDV">

            <input type="text" class="form-control" id="videourl" placeholder="" aria-describedby="basic-addon1">

        </div>
        <div>

        </div>

        <script type="text/javascript">
            function jumpa(obj) {
                window.open("http://www.acfun.cn/v/ac" + $(obj).attr("vid"));
            }

            function jump(obj) {
                window.open("https://www.bilibili.com/av" + $(obj).attr("vid") + "/");
            }
        </script>
    </div>
    <div>

        <ul id="album">#vd
{{/*          此处存放列表  */}}
        </ul>
    </div>
    <div id="example"></div>

    <iframe width="0" height="0" src="https://www.bilibili.com" sandbox=""></iframe>
    <audio id="player" autoplay="autoplay"></audio>
    <script>
        function callbackfunction(j) {
            console.log(j);
            var u = j.durl[0].url;
            $("#vd").html('<video width="680" height="376" poster="https://i1.hdslb.com/bfs/archive/8e8d73c248937a10d201e6994118b072e6cc525f.jpg" src="' + u + '" controls="controls" autoplay="autoplay"></video>')
            $("#page1").attr("href", j.durl[0].url);
            $("#videourl").val(j.durl[0].url);

            $("#downloadita").attr("href", j.durl[0].url);
            $("#downloadit").click(function () {
                downloadita.click();
            })
            //$("#videourlDV").show();
            //var vurl = $("#videourl").val();
        }

        function parseVideo(page, aid) {
            $.getScript("//api.bilibili.com/playurl?callback=callbackfunction&aid=" + aid + "&page=" + page + "&platform=html5&quality=1&vtype=mp4&type=jsonp");
        }

        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        var p2 = 1;
        if (getQueryString("p")) {
            p2 = getQueryString("p");
            // console.log(p2);
        }

        // parseVideo(p2);
        var globalAid = {{.Result.Aid}};


        parseVideo({{.Result.Page}},globalAid);

        function show(page,part) {
            // alert(part);
            parseVideo(page,globalAid);
            document.getElementById("title").innerText = part;
        }

        function decodeJson(jsonStr) {
            console.log(jsonStr);
            if (jsonStr == "" || jsonStr === undefined) {
                return;
            }
            var jsonVal = JSON.parse(jsonStr);
            console.log(jsonVal);

            var pages = jsonVal.reduxAsyncConnect.videoInfo.pages;
            var ps = pages.map(function (v) {
                return "<li  onclick=show(" + v.page+","+"\""+v.part+"\"" + ")><h2>" + v.part + "</h2></li>";
            });
            var lis = ps.join("");
            // document.getElementById("album").appendChild(ps);
            document.getElementById("album").innerHTML = lis;
        }

        decodeJson({{.Result.Album.Origin}});


    </script>
    <script type="text/babel">


        class Up extends React.Component {
            constructor(props) {
                super(props);
                this.state = {ups: [], result: null};
            }

            componentDidMount() {
                this.req = $.get(this.props.source, function (result) {
                    var r = result;
                    this.setState({
                        result: r,
                        ups: r.Result
                    });
                }.bind(this));
            }

            componentWillUnmount() {
            }

            render() {
                var ups = [];
                ups = this.state.ups.map(function (item) {
                    ///web/admin/up/70053549/topic
                    var mid = "https://space.bilibili.com/" + item.Mid;
                    mid = "/web/admin/topic/" + item.Mid + ""
                    // console.log(item)
                    return (<li key={item.Mid}>
                        <div>
                            <img src={item.Face} width="60" height="60"/>
                            <div>
                                <a href={mid}>
                                    <h1>版主:{item.Name}</h1>
                                    <h2>状态:{item.Status == 0 ? "待检测" : "已检测"}</h2>
                                </a>
                            </div>

                        </div>
                    </li>);
                });
                return (

                    <div class="up">
                        <h2>up列表</h2>
                        {ups}
                    </div>
                );
            }
        }

        // ReactDOM.render(<Up
        //     source="/api/up/page/1/status/0"/>, document.getElementById("example"));
    </script>


</div>
</body>
</html>
